AttributeError: 'Ticker' object has no attribute 'tickers'

In [33]:
import pandas as pd
import yfinance as yf
import datetime

In [ ]:
# the objective is

In [8]:
ticker = "ALO.PA"
df = yf.download(ticker,start="2020-01-01")

[*********************100%***********************]  1 of 1 completed

In [9]:
df.head(20)

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-01-02  42.270000  42.790001  42.240002  42.580002  41.451309   351895
2020-01-03  42.220001  42.639999  42.209999  42.639999  41.509720   337753
2020-01-06  42.439999  42.590000  41.849998  42.220001  41.100857   449260
2020-01-07  42.230000  42.720001  42.200001  42.500000  41.373428   411762
2020-01-08  43.119999  43.560001  43.000000  43.310001  42.161961   765403
2020-01-09  43.599998  43.720001  42.980000  43.169998  42.025669   578042
2020-01-10  43.230000  43.480000  43.060001  43.090000  41.947792   466355
2020-01-13  43.279999  43.939999  43.099998  43.549999  42.395596   672950
2020-01-14  43.590000  44.139999  43.290001  44.040001  42.872608   647802
2020-01-15  43.950001  44.189999  43.669998  44.189999  43.018635   658196
2020-01-16  42.939999  44.919998  42.669998  44.740002  43.554054  1292337
2020-01-17  45.000000  45.580002  44.770000  45.459999  44.254967   873157
2020-01-20  45.500000  45.630001  45.130001  45.400002  44.196560   496622
2020-01-21  45.209999  45.279999  44.860001  45.200001  44.001862   556011
2020-01-22  46.000000  46.419998  45.650002  46.040001  44.819595  1193198
2020-01-23  45.779999  46.480000  45.680000  46.450001  45.218727  1106304
2020-01-24  46.500000  47.259998  46.450001  47.119999  45.870964  1029629
2020-01-27  46.810001  46.869999  46.070000  46.549999  45.316074   852199
2020-01-28  46.540001  46.849998  46.000000  46.560001  45.325813   688856
2020-01-29  46.840000  47.910000  46.509998  47.759998  46.493999   930389

In [10]:
df.shape

(925, 6)

In [18]:
stock = yf.Ticker(ticker)

In [28]:
div = stock.dividends
print(f"dividend {div}")

dividend Date
2006-05-15 00:00:00+02:00    0.226018
2007-07-05 00:00:00+02:00    0.370902
2008-06-26 00:00:00+02:00    0.741804
2009-06-25 00:00:00+02:00    1.038526
2010-06-24 00:00:00+02:00    1.149796
2011-06-30 00:00:00+02:00    0.574898
2012-06-28 00:00:00+02:00    0.741804
2013-07-04 00:00:00+02:00    0.778894
2017-07-07 00:00:00+02:00    0.231814
2018-07-20 00:00:00+02:00    0.324539
2019-07-15 00:00:00+02:00    5.099902
2021-08-02 00:00:00+02:00    0.250000
2022-07-20 00:00:00+02:00    0.250000
2023-07-17 00:00:00+02:00    0.250000
Name: Dividends, dtype: float64

In [36]:
def getDividendYield(stockTicker:str, currentYear:int=None):
    stock = yf.Ticker(stockTicker)
    if not currentYear:
        currentYear=datetime.datetime.now().year

    currentDiv = stock.dividends[stock.dividends.index.year == currentYear][0]
    currentPrice = stock.history(period="1d")["Close"][0]
    divYield = currentDiv / currentPrice
    print(f"The dividendYield of {stockTicker} at year {currentYear} is: {divYield}")

In [35]:
getDividendYield(ticker)

The dividendYield of year 2023 is: 0.009531071458748696

In [37]:
getDividendYield("OR.PA")

The dividendYield of OR.PA at year 2023 is: 0.014778325123152709

In [39]:
getDividendYield("SCR.PA")

The dividendYield of SCR.PA at year 2023 is: 0.05005363011687881